{% extends "base.html" %}

{% block title %}Categories{% endblock title %}
{% block content %}
    <style>
        .box{
            display: none;
        }
        a:hover + .box,.box:hover{
            display: block;
            position: relative;
            z-index: 100;
            width: 50%
        }
    </style>
	<table class="table">
		<thead>
		</thead>
		<tbody>
        {% for tag in tags %}
            <tr>
                <th id="{{ tag }}">
                    {{ tag }}
                </th>
            </tr>
            {% for page in pages %}
                {% if tag in page.tags %}
                    <tr>
                        <td>
                            <a id="test" class="previewbox-anchor" href="{{ url_for('wiki.display',url=page.url) }}">{{ page.title }}</a>
                            <div class="box">
                                <iframe src="{{ url_for('wiki.display',url=page.url) }}" width = "500px" height = "500px">
                                </iframe>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <tr><th id="Uncatagorized">Uncatagorized</th></tr>
        {% for page in pages %}
            {% if page.tags not in tags %}
                <tr>
                    <td>
                        <a class="previewbox-anchor" href="{{ url_for('wiki.display',url=page.url) }}">{{ page.title }}</a>
                        <div class="box">
                            <iframe src="{{ url_for('wiki.display',url=page.url) }}" width = "500px" height = "500px">
                            </iframe>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}

{% block sidebar %}
    <div style="position: fixed;">
        <ul>
            {% for tag in tags%}
                <li>
                    <a href="#{{ tag }}">{{ tag }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="#Uncatagorized">Uncatagorized</a>
            </li>
        </ul>
    </div>
{% endblock %}
