{% extends "base.html" %}

{% block title %}<span style="color: #ff8c00; ">Create a new page</span>
{% endblock title %}
{% block content %}
<form method="POST" class="form-inline">
	{{ form.hidden_tag() }}
	{{ input(form.url, placeholder="URL of the new page", autocomplete="off") }}
	<input type="submit" class="btn btn-success" value="Create">
</form>
{% endblock content %}

{% block sidebar %}
    <p class="alert alert-success"><span style="color: #ff8c00; ">Thank you for creating new content!</span></p>
{% endblock sidebar %}
