{% extends "base.html" %}

{% block title %}<span style="color: #ff8c00; font-family: 'JetBrains Mono ExtraBold' ">Move a page</span>{% endblock title %}
{% block content %}
<form method="POST" class="form-inline">
    {{ form.hidden_tag() }}
    {{ input(form.url, placeholder="New URL of the page", autocomplete="off") }}
    <input type="submit" class="btn btn-success" value="Create">
</form>
{% endblock content %}

{% block sidebar %}
    <p class="alert alert-success"><span style="color: #ff8c00; font-family: 'JetBrains Mono ExtraBold' ">Be careful, the old url will be invalid immediately!</span></p>
{% endblock sidebar %}
