{% extends "base.html" %}
{% block title %}
{% if search %}
	Results for "{{ search }}"
{% else %}
	Search
{% endif %}
{% endblock title %}

{% block content %}
<div class="row">
	<div class="span8 offset1">
		<form class="form-inline well" method="POST">
			{{ form.hidden_tag() }}
			{{ form.term(placeholder='Search for.. (regex accepted)', autocomplete="off") }}
            {{ form.ignore_case() }} Ignore Case
            <input type="submit" class="btn btn-success pull-right" value="Search!">
            <div class="pull-right">
                Sort By: {{ form.option }}
            </div>
		</form>
	</div>

</div>
{% if search %}
    {% for result in results %}
        <div class="row">
            <div class="offset1 span8">
                <dl>
                    <dt>
                        <a href="{{ url_for('wiki.display', url=result.uri) }}">{{ result.title }}</a>
                        <div class="pull-right">{{ result.date_created }}</div>
                    </dt>
                </dl>
            </div>
        </div>
        <p><br></p>
    {% endfor %}
{% endif %}
{% endblock content %}
