{% extends "base.html" %}

{% block title %}
{% if search %}
    <span style="color: #ff8c00; ">Results for "{{ search }}"</span>
{% else %}
    <span style="color: #ff8c00; ">Search</span>
{% endif %}
{% endblock title %}

{% block content %}
<div class="row">
	<div class="span8 offset1">
		<form class="form-inline well" method="POST">
			{{ form.hidden_tag() }}
			{{ form.term(placeholder='Search for.. (regex accepted)', autocomplete="off") }}
            {{ form.ignore_case() }} Ignore Case
			<input type="submit" class="btn btn-success pull-right" value="Search!">
		</form>
	</div>
</div>

{% if search %}
	{% if results %}
		<ul><span style="color: #ff8c00; ">
			{% for result in results %}
				<li><a href="{{ url_for('wiki.display', url=result.url) }}">{{ result.title }}</a></li>
			{% endfor %}
        </span></ul>
	{% else %}
        <p><span style="color: #ff8c00; ">No results for your search.</span></p>
	{% endif %}
{% endif %}
{% endblock content %}
